body {
    overflow-y: hidden;
}

app-alert {
    position: fixed;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 4%;
    z-index: 998;
    top: 0;
}

app-alert .alert {
    margin-bottom: 1%;
}

app-login center {
    width: 100%;
    height: 100%;
    background-color: red;
    padding-top: 10%;
}

app-login .card {
    margin: auto;
    box-shadow: 0px 0px 18px black;
}

app-home {
    width: 100%;
    height: 100%;
}

app-home>div {
    display: flex;
    width: 100%;
    height: 100%;
}

app-sidebar {
    width: 22%;
    height: 100%;
    background-color: red;
    border-right: 1px solid;
}

app-home>div>div {
    width: 78%;
    height: 100%;
}

app-content>div {
    width: 100%;
    height: 92%;
    overflow-y: scroll;
}

app-content>div::-webkit-scrollbar {
    width: 7px;
}

app-content>div::-webkit-scrollbar-thumb {
    background: #f00;
    border-radius: 20px;
    border-left: 1px solid #fff4f4;
}

app-content>div::-webkit-scrollbar-track {
    background: #cecece;
    border-left: 1px solid #fff4f4;
}

app-home config-tab .tab-icon,
app-home corsi-tab .tab-icon,
app-home contabilita-tab .tab-icon,
app-home iscritti-tab .tab-icon,
app-home home-tab .tab-icon {
    text-align: center;
    margin-bottom: 2%;
}

app-home config-tab .tab-icon i,
app-home corsi-tab .tab-icon i,
app-home contabilita-tab .tab-icon i,
app-home iscritti-tab .tab-icon i,
app-home home-tab .tab-icon i {
    font-size: 9rem;
    padding: 4%;
}

@media only screen and (max-width: 760px) {
    app-alert {
        width: 70%;
    }
    app-sidebar {
        position: fixed;
        z-index: 99;
        width: 70%;
        transform: none;
        transition: transform 0.5s linear;
        box-shadow: 0 0px 2000px 53px black;
        will-change: transform;
    }
    app-sidebar.hide {
        transform: translateX(-100%);
        box-shadow: 0 0 black;
    }
    app-home>div>div {
        width: 100%;
    }
    app-navbar>.navbar {
        height: 6%;
    }
}