.modal.show {
    display: block;
}

add-corso {
    font-weight: normal;
}

.corso-header {
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid black;
    background-color: #c6a4ce;
}

.corso-header>div {
    border-left: 1px solid #cecece;
    padding: 0.3rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.corso-header>div:first-child {
    border: 0;
}

corso-row>div>div:first-child {
    border-bottom: 1px solid black;
}

corso-row>div>div:first-child>div {
    border-left: 1px solid #cecece;
    padding: 0.3rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

corso-row>div>div:first-child>div:first-child {
    border: 0;
}

corso-row>div>div:first-child>div:nth-child(4) {
    display: list-item;
    list-style: none;
    text-align: center;
}

corso-row .details {
    display: none;
    background-color: blanchedalmond;
    border-bottom: 1px solid black;
    padding: 1rem;
}

corso-row .details>i {
    float: right;
    margin-right: 2%;
    cursor: pointer;
}

.days i {
    float: none;
    cursor: pointer;
}