app-sidebar {
    background-color: red;
}

app-sidebar.hide {
    margin-left: -65%;
    box-shadow: 0 0 black;
}

app-sidebar .sidebar-header {
    background-color: #fff4f4;
    background-image: url(https://www.roujutsu.it/immagini/logo.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 20%;
    border-bottom: 1px solid black;
}

app-sidebar>div>ul {
    overflow-y: scroll;
    height: 80%;
}

app-sidebar .sidebar-nav {
    background-color: #fff4f4;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

app-sidebar .sidebar-nav::-webkit-scrollbar {
    width: 7px;
}

app-sidebar .sidebar-nav::-webkit-scrollbar-thumb {
    background: #f00;
    border-radius: 20px;
    border-left: 1px solid #fff4f4;
}

app-sidebar .sidebar-nav::-webkit-scrollbar-track {
    background: #cecece;
    border-left: 1px solid #fff4f4;
}

app-sidebar .sidebar-nav li {
    line-height: 240%;
    padding-left: 2%;
    background-color: red;
    border-bottom: 1px solid black;
}

app-sidebar .sidebar-nav li.selected {
    background-color: #ffb8b8;
}

app-sidebar .sidebar-nav li i.hide {
    visibility: hidden;
}

app-sidebar .sidebar-nav li i[data-toggle="collapse"] {
    padding-right: 2%;
}

app-sidebar .sidebar-nav li ul.panel-collapse {
    list-style: none;
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    -khtml-padding-start: 0;
    -o-padding-start: 0;
    padding-start: 0;
    padding-left: 10%;
}

app-sidebar .sidebar-nav li ul.panel-collapse li {
    background-color: #dab1b1;
    border: 0;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

app-sidebar .sidebar-nav li ul.panel-collapse li.selected {
    background-color: #ff000e;
}

sidebar-item div {
    cursor: pointer;
    display: inline-block;
    width: 90%;
    margin-left: 1%;
}

.panel-collapse sidebar-item div {
    margin-left: 10%;
}