app-sidebar {
    background-color: red;
}

app-sidebar .sidebar-header {
    background-color: rebeccapurple;
    width: 100%;
    height: 15%;
    border-bottom: 1px solid black;
}

app-sidebar>div>ul {
    overflow-y: scroll;
    height: 85%;
}

.sidebar-nav {
    background-color: blue;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.sidebar-nav li {
    line-height: 240%;
    padding-left: 2%;
    background-color: red;
    border-bottom: 1px solid black;
}

.sidebar-nav li.selected {
    background-color: seagreen;
}

.sidebar-nav li i.hide {
    visibility: hidden;
}

.sidebar-nav li i[data-toggle="collapse"] {
    padding-right: 2%;
}

.sidebar-nav li ul.panel-collapse {
    list-style: none;
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    -khtml-padding-start: 0;
    -o-padding-start: 0;
    padding-start: 0;
    padding-left: 10%;
}

.sidebar-nav li ul.panel-collapse li {
    background-color: #dab1b1;
    border: 0;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.sidebar-nav li ul.panel-collapse li.selected {
    background-color: green;
}

sidebar-item div {
    cursor: pointer;
    display: inline-block;
    width: 90%;
    margin-left: 1%;
}

.panel-collapse sidebar-item div {
    margin-left: 10%;
}